html,
body {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 22px;
  min-height: 100%;
  padding: 15px;
  font-family: sans-serif;
}
